
@{
    ViewBag.Title = "UserForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/login-register.css" rel="stylesheet" />
<link href="~/Content/validation-summary.css" rel="stylesheet" />

@using (Html.BeginForm("UserForgetPassword", "User"))
{
    <section class="login">
        <div class="container">
            <div class="row main">
                <div class="form-header" style="background-color:#6c7a99">
                    <h1 class="text-center ">Kullanıcı Şifre Yenileme</h1>
                </div>
                @Html.ValidationMessage("_HATA")

                <div class="main-content" style="border-color:#6c7a99">
                    @Html.ValidationSummary(false)
                    <center>
                        <div class="input-group ">


                            Mail : @Html.TextBox("mail")
                        </div>
                    </center>


                    <div class="form-group ">
                        <button type="submit" class="btn btn-success btn-lg btn-block login-button">Giriş</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
